DATABASE_URL=postgresql://admin:root@localhost:5432/test_db
LLM_BASE_URL=http://127.0.0.1:11434/
GROQ_API_KEY=
PROMETHEUS_URL=http://prometheus:9090
LOKI_URL=http://loki:3100
CHAT_DB_PATH=chat_history.db
